@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

.app-header{
  text-align: center;
  padding: 20px;
}

.header{
  font-family: 'Azeret Mono', monospace;
  font-size: 30px;
}

.app-body{
  padding: 20px;
  text-align: center;
}

.language-select{
  height: 50px !important;
  margin-bottom: 15px;
  margin-top: 15px;
  outline: none !important;
  width: 357px;
}

textarea{
  width: 350px;
  height: 100px;
}

button{
  margin-top: 10px;
  width: 200px;
  height: 40px;
  background-color: palevioletred;
  border: none;
  border-radius: 15px;
}

